{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

    <div class="row">


        <form method="post" style="margin: 0 auto">
            {% csrf_token %}

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email|add_class:'form-control' }}
            </div>

            <input type="submit" value="Reset my password" class="btn btn-primary">
        </form>

    </div>

{% endblock %}
